<div class="floating-contact-icons">
  <%= link_to "#{rdv_url}#rdv-form", class: "floating-icon-btn", title: "Prendre rendez-vous" do %>
    <i class="bi bi-calendar-check"></i>
  <% end %>
  
  <%= link_to "#{contact_path}#message-form", class: "floating-icon-btn", title: "Nous écrire" do %>
    <i class="bi bi-envelope"></i>
  <% end %>
  
  <%= link_to "tel:+33493451717", class: "floating-icon-btn", title: "Nous appeler" do %>
    <i class="bi bi-telephone"></i>
    <span class="floating-phone-tooltip">+33 4 93 45 17 17</span>
  <% end %>
</div>
