
<nav class="navbar bg-light sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to image_tag('/images/logo_courant_public.png', class: 'navbar-brand me-4', width: "200"), root_url %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto my-2 my-lg-0">
        <%= nav_link_public(home_path, "Accueil") %>
        <%= nav_link_public(home_path, "Catégories") %>
        <%= nav_link_public(home_path, "Contact") %>
      </ul>
    </div>
  </div>
</nav>