<div class="my-2">
  <%= card_main_model("Client", "person-fill") %>

  <div id="<%= dom_id client %>">
    <%= render "admin/clients/client", client: client, variant: :mini, client_inner_only: true %>
  </div>
</div>
