<%= bandeau_entete("Clients", "person", @count_clients, 
        :nom_or_prenom_cont, admin_clients_path) %>

<%= bloc_nouveau(Client) %>

<%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>

<div id="clients"> </div> 

<%= turbo_frame_tag :pagination, loading: :lazy, 
                        src: admin_clients_path(format: :turbo_stream,
                        q: params[:q]&.to_unsafe_h) %>
<% end %>