<%= bandeau_entete("Profiles", "user-circle", @profiles.count, "your-search") %>

<%= bloc_nouveau(Profile) %>

<div id="profiles">
  <% @profiles.each do |profile| %>
        <%= render profile %>
  <% end %>
</div>


