<div class="container-fluid p-2">

    <% if @produits.any? %>
        <% @produits.each do |produit| %>

            <%= produit_selection(produit, @commande) %>

            <%# if statut_disponibilite(produit, @commande&.date_retenue.to_date, @commande.finloc.to_date ) %>   
                <%#= link_to selection_produit_path(produit: produit, article: @article), class: "text-decoration-none" do %>
                <%# end %>
            <%# else %>
                <%#= produit_selection(produit, @commande ) %>
            <%# end %>
        <% end %>

    <% end %>
</div>