<div class="container-fluid p-2">
    <% if @produits.any? %>
        <% @produits.each do |produit| %>
            <% if est_disponible(produit) %>
                <%= link_to selection_produit_path(produit: produit, article: @article), class: "text-decoration-none" do %>
                    <%= produit_selection(produit) %>
                <% end %>
            <% else %>
                <%= produit_selection(produit) %>
            <% end %>
        <% end %>
    <% end %>
</div>