<div class="container-fluid m-2 p-2">

    <% @produits.each do |produit| %>
        <%= link_to selection_produit_path(produit: produit), remote: true do %>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <%= image_tag(produit.default_image, width: 100) %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"> <%= produit.full_name %> </h5>
                            <p class="card-text"> <%= produit.description %></p>
                        </div>
                    </div>
                </div>
            </div>

        <% end %>
    <% end %>

</div>