<!-- Your HTML file -->
<div data-controller="qr-code">
  <div class="container-fluid bg-light p-2"> 
    <h2 class="text-dark text-center"> SCANNER LE QR CODE </h2>
    <hr>

    <div class="text-center">
      <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
    </div>

    <hr>
    <div id="sourceSelectPanel">
      <label for="sourceSelect">Choisir la source:</label>
      <select id="sourceSelect" style="max-width:400px">
      </select>
    </div>
    
    <div id="count">  </div> <br>
    <div id="results">  </div>

    <a class="button btn btn-primary" id="startButton" data-action="click->qr-code#startScan">Démarrer</a>
    <a class="button btn btn-danger" id="resetButton"  data-action="click->qr-code#stopScan" style="display: none;">Arrêter</a>

  <form data-action="submit@submit->rails#create">
    <input type="hidden" id="scan" name="scan">
    <button type="submit" id="submitButton" class= "btn btn-success my-3" style="display: none;">Valider</button>
  </form>

  </div>
</div>

<% if @produits_scan.present? %>  
  <%= Produit.find(@produits_scan.to_i).nom %>
<% end %>