<%# Recto : produits %>
<div class="etiquettes-grid">
  <% @produits.each do |produit| %>
    <div class="border border-secondary-subtle overflow-hidden">
      <%= render "admin/etiquettes/cellule", produit: produit %>
    </div>
  <% end %>
</div>

<div class="etiquettes-page-break"></div>

<%# Verso : lignes d'écriture %>
<div class="etiquettes-grid">
  <% 4.times do %>
    <div class="border border-secondary-subtle overflow-hidden p-2">
      <div class="etiquette-verso-lines">
        <% 12.times do %>
          <div class="etiquette-verso-line"></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
