<h1>Editing doc edition</h1>

<%= render "form", doc_edition: @doc_edition %>

<br>

<div>
  <%= link_to "Show this doc edition", @doc_edition %> |
  <%= link_to "Back to doc editions", doc_editions_path %>
</div>
