  <body>
    <h1>Rappel de RDV</h1>
    <p> <%= @recipient.intitule %> <%= @recipient.full_name %>,</p>
    <p>Ce message est un rappel de votre RDV prévu le <%= @meeting.datedebut.strftime('%d/%m/%Y à %H:%M') %>.</p>

    <% if @meeting.lieu %>
      lieu du RDV: <%= @meeting.lieu %>
    <% end %>

    <p>Nous restons à votre écoute</p>
    adresse 
    site web 
    tel 

  </body>