<h1>Editing avoir remb</h1>

<%= render "form", avoir_remb: @avoir_remb %>

<br>

<div>
  <%= link_to "Show this avoir remb", @avoir_remb %> |
  <%= link_to "Back to avoir rembs", avoir_rembs_path %>
</div>
