<div id="filtres-categorie">
    
    <div class="text-uppercase">
        Catégories
    </div>

    <div class="d-flex flex-wrap gap-1">
        <%= button_to "Toutes", update_filters_path, 
            class: link_badge_categorie_class(nil) %>

        <% @toutes_categories.each do |categorie| %>
            <%= button_to categorie.nom, 
                update_filters_path(slug: categorie.nom.parameterize, id: categorie.id),
                class: link_badge_categorie_class(categorie.id) %>
    
        <% end %>
    </div>
</div>