<div class="row justify-content-evenly">
  <%= info_card(icon: "person-lines-fill", title: "Contacts", content: @texteContact) %>
  <%= info_card(icon: "clock", title: "Horaires", content: @texteHoraire) %>
  <%= info_card(icon: "geo-alt-fill", title: "Adresse", content: @texteAdresse) %>
</div>