<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <% if @carousel_images.any? %>
            <% @carousel_images.each_with_index do |image, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                    <%= image_tag(image, class: "w-100", style: "object-fit: cover; height: 400px;", alt: "image accueil #{index}") %>
                </div>
            <% end %>
        <% end %>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>