<!-- Section Références / Ils nous font confiance -->
<div class="my-5 py-5" data-aos="fade-up">
    <div class="container-fluid">
        <h3 class="text-center public-brand-color mb-5">Ils nous font confiance</h3>
        
        <!-- Carrousel de défilement automatique -->
        <%= references_slider %>
    </div>
</div>
