<div id="partial-taille-selected">

  <%# recoit le turbo stream avec elements cliqués %>

  <div class="container-fluid mt-3">

    <div class="text-uppercase fw-bold mb-1">
        Couleurs
    </div>
    
    <div>
      <%= link_to "Toutes", categorie_path(categorie: @categorie), 
            class: "badge border brand-colored fs-6 text-uppercase text-decoration-none
              #{params[:taille].nil? ? "bg-brand-colored text-light" : ""}" %>

      <% @toutes_tailles_categorie.each do |taille| %>
        <%= link_to taille.nom, 
            categorie_path(categorie: @categorie, taille: taille.id),
              class: "badge border brand-colored fs-6 text-uppercase text-decoration-none 
              #{taille.id == params[:taille].to_i ? "bg-brand-colored text-light" : ""}" %>
      <% end %>
    </div>
  </div>

  <div class="container-fluid mt-4 m-0">

      <%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
        <div id="produits" class="row row-cols-1 row-cols-sm-2 g-2 p-2 m-0"> </div> 

        <%= turbo_frame_tag :pagination, loading: :lazy,
            src: categorie_path(
              id: @categorie.id, 
              slug: @categorie.nom.parameterize, 
              taille: params[:taille],
              format: :turbo_stream, subdomain: "shop") %>
      <% end %>
  </div>

</div>
