<div id="texte-categorie">
    <% if params[:id] %>      
        <div class="container-fluid mt-4">
            <h2 class="fs-6">
                <%= CategorieProduit.find(params[:id]).texte_annonce %> 
            </h2>
        </div>
    <% end %>
</div>