

<%= render partial: "public/pages/accueil_bis/section_hero" %>

<div class="container my-5 py-5">
    <h2 class="text-light fs-3 text-uppercase py-4 mb-3">Nos collections</h2>
    <%= render partial: "public/shared/section_categories" %>
</div>