<!-- Scroll position display -->
<div id="scrollPosition" 
     style="
          position: fixed;
          top: 10px;
          right: 10px;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          z-index: 9999;">
     Scroll Y: 0px
</div>

<div id="canvas1"style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1;"></div>
<!-- Spacer -->
<div style="height: 5000px;"></div>

<div id="canvas2" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1;"></div>
<!-- Spacer -->
<div style="height: 5000px;"></div>

