<div class="public-main-content">

    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 p-2 m-0" data-scroll-reveal>
            <% @categories.each do |categorie| %>
                <div class="col">
                    <%= card_categorie(categorie) %>
                </div>
            <% end %>
        </div>
    
    </div>
</div>