<% content_for :structured_data do %>
  <script type="application/ld+json">
    <%= webpage_schema(
          name: meta_title,
          description: meta_description,
          url: request.original_url
        ).to_json.html_safe %>
  </script>

  <% breadcrumbs = [
       { name: "Accueil", url: root_url },
       { name: "Catégories", url: categories_url }
     ] %>
  <script type="application/ld+json">
    <%= breadcrumb_schema(breadcrumbs).to_json.html_safe %>
  </script>
<% end %>

<div class="public-main-content">

    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 p-2 m-0" data-scroll-reveal>
            <% @categories.each do |categorie| %>
                <div class="col">
                    <%= card_categorie(categorie) %>
                </div>
            <% end %>
        </div>
    
    </div>
</div>