<!--div class="position-relative d-inline-block text-center w-100">
  <%#= image_tag(@categorie.default_image, class: "w-100", style: "object-fit: cover; height: 400px;") %>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
    <h1 class="public-text-overlay brand-colored fs-1 mb-2 text-uppercase">
        <%#= @categorie.nom %> 
    </h1>
  </div>
</div-->

<div class="public-main-content">

    <div class="container-fluid mt-4">
        <h2>
            <%= @categorie.texte_annonce %> 
        </h2>
    </div>

    <div class="container-fluid mt-4">
        <div class="brand-colored text-uppercase">
            Catégories
        </div>
        <div>
            <% @categories.each do |categorie| %>
                <%= category_with_class(categorie) %>
            <% end %>
        </div>
    </div>

    <%= render "taille_selected" %>

</div>