
<div class="public-main-content">
   <h1 class="text-center">
       Conditions Générales de Vente
   </h1>

    <div class="container-fluid mt-4">
        <div class="fw-bold mt-3 mb-2">
            Périmètre et définitions
        </div>

        <ol>
            <li> 
                Les présentes Conditions Générales de Vente (les « CGV ») sont applicables dès que vous accédez à la Boutique en ligne Autour d'un Soir URL : https://shop.a1soir.com/ (le « Site Web ») ou passez des commandes par téléphone. Toutefois, les présentes CGV ne s'appliquent pas à tout achat de produits à la Boutique Autour d'un Soir de Cannes. 
            </li>
            <li> 
                Les références à « nous » ou « notre » dans le cadre de ces CGV désigne la société Autour d'un Soir, quand les références à « vous » ou « votre » vous désigne, en qualité d'utilisateur du Site Web. 
            </li>
            <li> 
                Nous vous demandons et remercions de lire attentivement ces CGV avant d'utiliser le Site Web et de passer votre commande. En accédant à l'une quelconque des parties du Site Web ou en commandant des produits sur le Site Web, vous acceptez être soumis à ces CGV. Nous vous recommandons de garder un exemplaire de ces CGV afin de pouvoir vous y référer ultérieurement.  
            </li>            
            <li> 
                Ces CGV sont uniquement disponibles en français et sont applicables à toute commande livrée en France.
            </li>
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Notre contrat
        </div>

        <ol>
            <li> 
                Tous les produits ou services proposés à la vente sur le Site Web le sont sous réserve de leur disponibilité. 
             </li>    
            <li>                
                La finalisation de votre commande constitue l'acceptation de notre offre, c'est-à-dire qu'elle confirme votre volonté d'acquéreur les produits ou services tels que décrits sur le Site Web, avec acceptation du prix proposé et reconnaissance que la passation de cette commande génère une obligation de paiement de votre part. Aussi, lorsque vous confirmez votre commande, vous acceptez d'être lié à notre entreprise par un contrat de vente, sous réserve de la disponibilité des produits et services et de la validation de votre paiement dans les conditions prévues ci-après. 
            </li>    
            <li> 
                Est ici rappelé que le Site Web est exclusivement destiné aux consommateurs particuliers, dans le cadre d'un usage personnel, y compris pour des cadeaux personnels, et ne devront être ni revendus, ni utilisés dans un contexte commercial, ni utilisés en vue de réaliser un bénéfice commercial. Nous nous réservons la possibilité de refuser les commandes de quantité multiple d'un même article émanant d'un seul client ou destinées à une seule adresse postale.
            </li>    
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Le déroulement de la commande 
        </div>    

        <ol>
            <li> 
                Vous pouvez choisir des articles dans notre gamme de produits et les mettre dans votre « Panier » en cliquant sur le bouton « Ajouter au Panier » ; 
            </li>    
            <li>                 
                En cliquant sur le bouton « Commander », vous initiez le processus d'achat des produits figurant dans votre Panier. Une page listant les produits que vous souhaitez acheter s'ouvre. Cette page indique la référence, la taille, le prix et la quantité d'articles que vous êtes sur le point d'acheter, et précise notamment les modes de livraison et les coûts liés applicables à votre commande, ainsi que tous les autres services et options que nous proposons ; vous validez le contenu de votre panier et les options que vous souhaitez retenir. Il vous sera alors demandé de nous communiquer les données personnelles vous concernant ; il vous sera également demandé de sélectionner votre mode de paiement, d'indiquer les informations y-afférentes.  
            </li>    
            <li> 
                Au moment de remplir vos données personnelles vous avez obligation de cocher la case « j'accepte les conditions générales de vente » (présentées ici) sans quoi vous ne pourrez pas valider votre commande. En cliquant sur le bouton « Commander », vous finalisez la commande des produits figurant dans le Panier. La passation de votre commande par Internet constitue un contrat de vente entre vous et nous, sous réserve de la disponibilité des produits et services commandés et de la validité du moyen de paiement que vous utilisez. 
            </li>    
            <li> 
                Vous recevrez automatiquement un courriel confirmant la réception et les détails de votre commande (« le Courriel de Confirmation de commande »). Nous vous recommandons d'imprimer et de conserver le Courriel de Confirmation. Le Courriel de Confirmation ne constitue pas une confirmation de la disponibilité des produits ; il s'agit simplement d'un accusé de réception automatique qui confirme le fait que nous avons reçu votre commande. 
            </li>    
            <li> 
                Nous vous enverrons un second courriel, qui constituera la confirmation de la disponibilité des produits commandés (le « Courriel de Livraison »), que nous vous recommandons également d'imprimer et de conserver. Si aucun des produits commandés n'est disponible, votre commande sera annulée, et votre carte bancaire ne sera pas débitée. Si une partie seulement des produits est disponible, ceux-ci vous seront envoyés conformément à ces CGV, et vous ne paierez que les produits livrés. Il vous appartient de conserver des copies des documents concernant votre commande (le Courriel de Confirmation, le Courriel de Livraison, ces CGV, et tout autre document utile). Par ailleurs, si le montant de votre commande excède 120 euros, nous conserverons une copie de votre commande dans nos dossiers, pour la durée prévue par la loi. Pendant cette durée, vous pouvez demander une copie de votre commande à n'importe quel moment. Dans ce cas, nous nous réservons le droit de vous facturer les coûts relatifs à la récupération et à l'envoi du document demandé.
            </li>    
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Politique de confidentialité 
        </div>

        Dans le cadre de la passation de commande, des processus de validation et de paiement, des informations personnelles pourront être récoltées. Ces données fournies sont stockées dans notre base de données et clients et suivront notre Politique de Confidentialité. Autour d'un soir prend très au sérieux la vie privée de toute personne qui visite notre boutique en ligne et notre boutique physique et plus largement de toute personne qui nous transmet des Données Personnelles (terme défini ci-après) la concernant, à l'occasion d'un contact avec notre marque. Nous traiterons toujours vos Données Personnelles conformément à la réglementation applicable en France et dans l'Union européenne dans le domaine de la protection des données à caractère personnel(« réglementation Informatique et libertés »), incluant notamment :
        - La loi relative à l'informatique,aux fichiers et aux libertés n° 78-17 du 6 janvier 1978 modifiée et ses éventuelles mises à jour ;
        - La Directive 95/46/CE du Parlement européen et du Conseil, du 24 octobre 1995, relative à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données, applicable jusqu'au 25 mai 2018 - Le Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 (règlement général sur la protection des données) abrogeant la Directive 95/46/CE, applicable à partir du 25 mai 2018 ;
        - Le cas échéant, les textes adoptés au sein de l'Union européenne et les lois locales susceptibles de s'appliquer aux données à caractère personnel traitées dans le cadre du Contrat ;
        - les textes et décisions émanant d'autorités de contrôle, notamment de la Commission nationale de l'Informatique et des libertés (Cnil) ; La présente politique de protection de la vie privée fait partie intégrante de nos Conditions Générales de Vente. En utilisant le Site Web, en passant des commandes, en achetant dans la Boutique, en contactant notre service clients, vous acceptez explicitement l'utilisation de vos Données Personnelles en accord avec cette politique de protection de la vie privée. Cette même politique de protection de la vie privée s'applique à chaque fois que vous nous transmettez vos Données Personnelles et à tous les traitements que nous pouvons réaliser sur ces dernières.

        <div class="fw-bold mt-3 mb-2">
            Vos données personnelles 
        </div>
        
        Le terme « Données Personnelles » désigne toute information vous concernant qui vous rend directement ou indirectement personnellement identifiable, notamment vos nom, prénom, adresse, numéro de téléphone, adresse de courriel, données bancaires, identifiant, mot de passe, cookies, adresse IP et autres informations qui permettent votre identification et que vous mettez à notre disposition à tout moment. 

        <div class="fw-bold mt-3 mb-2">
            La collecte de vos données personnelles 
        </div>
        
        Nous pouvons collecter vos Données Personnelles lorsque :
        - vous visitez le Site Web ;
        - vous passez une commande sur le Site Web par vos propres moyens ou dans notre Boutique
        - vous passez une commande par téléphone ;
        - vous envoyez une réclamation, posez une question ou nous faites parvenir toute autre remarque ;
        - vous nous communiquez vos Données Personnelles sur le Site Web ou de quelque façon que ce soit. Nous utilisons par ailleurs des « Cookies » (témoins), tel que cela est expliqué à la section ci-après. Lorsque la collecte de certaines Données Personnelles est nécessaire pour les finalités figurant à la section ci-après, nous vous le ferons savoir, étant entendu que si vous ne nous fournissez pas ces renseignements, nous ne serons pas en mesure de répondre à ces finalités.
        Le traitement de vos données personnelles  
        La transmission de vos données personnelles à des tiers- à certains de nos prestataires qui nous aident à exécuter votre commande, livrer vos produits, percevoir votre paiement, vous envoyer des informations et des offres commerciales, et analyser votre utilisation du Site Web ou de la Boutique, en vue d'améliorer la qualité et l'efficacité du Site, étant entendu que les dits prestataires sont tenus par contrat à la confidentialité ainsi qu'au respect des lois en vigueur concernant la protection de vos Données Personnelles.  

        <div class="fw-bold mt-3 mb-2">
            Vos droits 
        </div>
       
        En application de la législation en vigueur, vous disposez d'un droit d'accès, de rectification ou d'effacement, de limitation du traitement de vos données, d'un droit d'opposition, d'un droit à la portabilité de vos données ainsi que du droit de définir des directives relatives au sort de vos données après votre décès, qui s'exercent par courrier électronique à contact@a1soir.com ou par courrier postal à l'attention Autour d'un Soir , 29 Boulevard Carnot 06400 Cannes, France, accompagné d'une copie d'un titre d'identité.

        <div class="fw-bold mt-3 mb-2">    
            La sécurité de vos données 
        </div>
        
        Nous avons mis en place et assurons la maintenance de toutes les protections adaptées garantissant que nos procédures internes en matière de sécurité de vos Données Personnelles sont conformes aux réglementations en vigueur. Nous faisons également tous les efforts nécessaires pour assurer que les tiers qui travaillent avec nous, sous contrat, en tant que prestataires, pour rendre ce Site Web et son contenu disponibles pour vous et pour exécuter vos commandes, assurent une protection adéquate des Données Personnelles auxquelles ils ont accès. Nous limitons l'accès aux Données Personnelles vous concernant à des employés soumis à des obligations de confidentialité adaptées. Nous prendrons plus particulièrement des mesures de précaution pour protéger vos Données Personnelles contre des pertes ou abus, et nous utiliserons des procédures de sécurité pour empêcher tout accès non autorisé à ces Données Personnelles. Toutes les Données Personnelles que nous collectons sont stockées sur un serveur offrant toutes les garanties de sécurité et sont conservées pendant une durée n'excédant pas la durée nécessaire à la réalisation des objectifs figurant à la section ci-avant. 
        
        <div class="fw-bold mt-3 mb-2">
            Cookies (témoins)
        </div>
        
        Lorsque vous visitez le Site Web, nous placerons éventuellement de petites informations sur votre ordinateur connues sous le nom de « cookies », qui seront stockées par votre navigateur sur votre disque dur.
        Nous pouvons utiliser les quatre types de cookies suivants: 
        - Des cookies techniques relatifs aux fonctionnalités du Site Web : Ces cookies vous permettent de parcourir le Site Web, d'utiliser ses fonctionnalités et d'enregistrer vos préférences (ex : ajouter un article à votre panier).
        - Des cookies d'analyse du Site Web : Ces cookies nous permettent de mesurer la fréquentation du Site Web et vos réactions face aux produits que nous proposons. Ils nous permettent d'améliorer le Site Web.
        - Des cookies relatifs à vos préférences : Lorsque vous naviguez ou effectuez des achats en ligne, le Site Web mémorise vos préférences. Cela simplifie, facilite et personnalise votre expérience de navigation.
        - Des cookies de ciblage ou des cookies publicitaires : Ces cookies sont utilisés pour diffuser des annonces qui vous intéressent. En outre, ils limitent le nombre de fois où vous voyez une annonce et nous aident à mesurer l'efficacité de nos campagnes publicitaires. La plupart des navigateurs acceptent automatiquement les cookies, mais ce n'est pas une obligation. En poursuivant votre navigation sur le Site Web, vous acceptez l'utilisation de ces cookies. Si vous voulez désactiver les cookies, il vous suffira d'adapter les réglages de votre navigateur en conséquence.
        Veuillez noter que nous ne contrôlons pas l'utilisation de cookies par des tiers.

        <div class="fw-bold mt-3 mb-2">
            Lieu et transfert de vos données personnelles
        </div>
        
        Nous conservons vos Données Personnelles dans l'Espace Economique Européen. Si nous avons besoin de transférer et de stocker vos Données Personnelles dans un lieu en dehors de l'EEE, ce transfert aura lieu suivant les lois en vigueur en matière de protection des données personnelles. Certaines des données collectées, et notamment les données relatives au paiement de vos commandes, peuvent faire l'objet d'un transfert vers des prestataires ou sous-traitants établis aux Etats-Unis, ou dans d'autres pays non reconnu par la Commission européenne comme bénéficiant d'un niveau de protection adéquate.  

        <div class="fw-bold mt-3 mb-2">
            Durée de conservation de vos données
        </div>
        
        Pour les traitements de données personnelles relatifs à la gestion des clients e-commerce, nous appliquerons les durées de conservation suivantes : 
        - Les Données Personnelles relatives aux clients : durée de la relation contractuelle augmentée des durées de prescription légales soit 5 ans
        - Cookies historiques d'achat et de navigation : 13 mois
        - Numéro et date de validité d'une carte bancaire : 15 mois suivant la date de débit
        - Le cryptogramme visuel de carte bancaire : Le temps de la transaction 

        <div class="fw-bold mt-3 mb-2">
            Lien avec d'autres sites web
        </div>
        
        Nous pourrons vous offrir des liens avec d'autres sites web. Néanmoins, nous ne serons pas responsables du contenu ou des politiques de collecte d'information sur ces sites web. Si vous visitez les sites web de tierces personnes, nous vous recommandons de vérifier leurs politiques en matière de collecte d'information et de protection de la vie privée. Nous n'acceptons aucune responsabilité à cet égard. Veuillez vérifier ces politiques avant de communiquer vos données personnelles à ces sites web.
        Modification de notre politique de protection de la vie privée
        Nous nous réservons le droit de modifier notre politique de protection de la vie privée, dans le respect des lois en vigueur en matière de protection des données personnelles. Dans cette hypothèse, les modifications de notre politique de protection de la vie privée seront indiquées ici même. 

        <div class="fw-bold mt-3 mb-2">
            Nous contacter
        </div>
        
        Si vous avez des questions concernant notre politique de protection de la vie privée ou la façon dont nous utilisons vos Données Personnelles, veuillez nous contacter (https://shop.a1soir.com/contact).   

        <div class="fw-bold mt-3 mb-2">
            Livraison des produits 
        </div>

        <ol>
            <li> 
                Nous ne livrons nos produits qu'en France Métropolitaine et Corse, à l'exclusion de tous autres territoires y compris les sites des armées. 
            </li> 
            <li> 
                Les délais de livraisons estimés sont de : 7 jours ouvrés (à l'exclusion des samedi, dimanches et jours fériés) à compter de l'envoi du Courriel de Livraison. Le délai peut être légèrement plus long lorsque les produits doivent être livrés dans des zones d'accès difficile. Nous ferons nos meilleurs efforts pour livrer les produits commandés dans le délai indiqué dans le Courriel de Livraison. 
            </li> 
            <li> 
                Même si nous faisons tout notre possible pour livrer vos produits dans le respect des délais définis ci-dessus, les dates de livraison ne sont que des estimations, elles ne sont pas garanties, et elles ne sauraient être invoquées à notre encontre. Du retard ne peut pas être exclu, notamment du fait des services postaux, du ou des prestataires missionnés, des transporteurs, de la logistique ou encore des conditions météorologiques. Toutefois, le délai maximum de trente (30) jours à compter de la date de réception du Courriel de Livraison est garanti. 
            </li> 
            <li> 
                Au cas où nous serions dans l'impossibilité de respecter le délai de livraison initialement prévu et figurant dans le Courriel de Livraison, nous vous en informerons dès que possible, en indiquant en même temps un nouveau délai de livraison estimé, sans encourir de responsabilité à votre égard, étant toutefois précisé que vous pouvez annuler votre commande si le délai total de livraison dépasse trente (30) jours. Pour annuler votre commande, vous devez nous envoyer un courriel via le formulaire de contact https://shop.a1soir.com/contact. Nous recréditerons alors la carte bancaire utilisé pour passer la commande, dans les quatorze (14) jours de la réception du courriel notifiant son annulation. Après une telle période de quatorze (14) jours, le montant de la commande sera majoré de :
                - 10 %, si le remboursement à lieu entre le 15ème et le 30ème jour suivant la demande d'annulation ;
                - 20 % si le remboursement à lieu entre le 31ème et le 60ème jour suivant la demande d'annulation ;
                - 50 % si le remboursement à lieu après le 61ème jour. 
            </li> 
            <li> 
                Si vous n'avez pas reçu votre commande dans les délais indiqués, nous vous remercions de vérifier, dans un premier temps, auprès des agents de votre bureau de poste que ces derniers ne détiennent pas votre colis. S'ils vous confirment qu'ils ne détiennent par vos produits, nous vous remercions de bien vouloir nous contacter et nous ferons de notre mieux pour vous assister. Tous les délais de livraison peuvent être sujets à des retards dus à des périodes saisonnières ou de pleine activité, à des conditions climatiques ou circonstances imprévues, notamment sanitaires, mais nous ferons tout notre possible pour vous adresser votre commande dans les délais indiqués. Durant ces périodes exceptionnelles de pleine activité (ex : soldes, Noël) ou de conditions climatiques ou sanitaires particulièrement défavorables, nous vous saurions gré de nous laisser un jour de plus avant de nous contacter. Nous vous remercions de noter que le transporteur requerra une signature à la livraison et ne vous remettra pas les produits sans signature. 
            </li> 
            <li> 
                Si vous passez commande de nombreux produits, nous pouvons être obligés de livrer vos produits en plusieurs fois. S'il est nécessaire de procéder à plus d'une livraison, vous en serez informé à l'avance. 
            </li> 
            <li> 
                Nous attirons votre attention sur la nécessité, lors de la réception de votre colis de contrôler son état général. Vous serez responsables du colis et de son contenu lorsqu'il vous aura été remis. En cas de problème (colis ouvert, colis vide, contenu abîmé), vous devez refuser le colis et contacter notre Service Client pour signaler le problème et la raison du refus (service client : https://shop.a1soir.com/contact). Nous vous informons qu'en cas de manquant sans réserve émise, Autour d'un Soir ne pourra être tenu pour responsable et nous ne pourrons garantir un remboursement. 
            </li> 
            <li> 
                Votre commande sera envoyée à l'adresse de livraison que vous aurez indiquée lors de votre commande. Nous ne saurions être tenus pour responsables si cette adresse de livraison est incorrecte ou incomplète.
            </li>    
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Prix et frais d'expédition
        </div>
        
        Tous les prix indiqués sur le Site Web comprennent la taxe à la valeur ajoutée, au taux légal en vigueur à la date de facturation. Les prix indiqués sur le Site Web sont en euros et n'incluent pas les frais d'expédition. En dépit de tous nos efforts, il peut exceptionnellement arriver que des produits référencés sur le Site Web aient un prix erroné. Si le prix exact d'un produit est inférieur au prix indiqué, nous vous facturerons le prix inférieur et vous enverrons le produit. Si le prix exact d'un produit est supérieur au prix indiqué, nous vous facturerons le prix indiqué, sauf si celui-ci est dérisoire et manifestement erroné, auquel cas nous vous contacterons afin d'obtenir vos instructions, ou nous annulerons votre commande et vous informerons de cette annulation. Nos frais d'expédition sont les suivants et apparaîtrons dès la validation de votre commande avant le paiement: 
        
        <div>
            Livraison Colissimo contre signature : <br>
            <%= image_tag('/images/frais_expedition.jpg', class: "img-fluid", style: "object-fit: cover; height: 400px;") %>
        
        </div>

        <div class="fw-bold mt-3 mb-2">
            Paiement et défaut de paiement
        </div>

        <ol>
            <li> 
                Le paiement de vos produits devra être effectué par carte bancaire, American Express ou Apple Pay, suivant les indications figurant sur la page concernant le paiement. 
            </li>    
            <li> 
                Le paiement complet du prix, y compris les frais d'expédition et tous frais supplémentaires pour des services que vous aurez commandés, sera débité de votre carte bancaire ou de votre compte Apple Pay, après vérification de la disponibilité des produits commandés, au moment ou peu de temps avant l'expédition des produits chez vous. Nous ne vous livrerons les produits que si votre paiement est effectif. 
            </li>    
            <li> 
                Vous confirmez que la carte bancaire utilisée est la vôtre. Tous les détenteurs de cartes bancaires sont soumis à des contrôles de validation et à l'autorisation par l'émetteur de la carte. Si l'émetteur de votre carte refuse d'autoriser le paiement, nous serons en droit de refuser de procéder à la livraison de votre commande et ne serons pas responsables de tout retard ou de toute absence de livraison. Nous vous enverrons un courriel pour vous informer du refus. 
            </li>    
            <li> 
                Vos données bancaires seront traitées de manière sécurisée, conformément à notre Déclaration de Protection de la Vie Privée, que vous pouvez consulter plus haut dans ce document. 
            </li>    
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Facturation
        </div>
        
        Si nous choisissons, ou sommes obligés par la loi en vigueur, d'émettre ou de fournir une facture, nous nous réservons le droit d'émettre ou de fournir des factures électroniques, et vous acceptez ce mode de facturation. 

        <div class="fw-bold mt-3 mb-2">
            Droit de rétractation
        </div>
        
        <ol>
            <li> 
                Vous pouvez nous retourner uniquement les produits qui ont été achetés directement sur le Site Web. Si vous achetez vos produits dans notre boutique de Cannes, les produits devront être retournés au magasin. Nous nous réservons le droit de refuser le retour de marchandises qui n'auront pas été retournées dans le respect des stipulations prévues ci-après et les frais de transport pour le renvoi de chaque marchandise au lieu de livraison indiqué seront à votre charge. 
            </li>    
            <li> 
                Si, pour quelque raison que ce soit, vous n'étiez pas satisfait de nos produits ou souhaitiez annuler votre commande, vous pouvez exercer votre droit de rétractation au plus tard dans les quatorze (14) jours suivants la réception de votre commande, et vous serez remboursé conformément aux dispositions de cet article, à condition :
                - que les produits soient retournés leur conditionnement d'origine permettant leur transport à l'adresse mentionnée par le service client.
                - que les produits soient dans leur état initial avec l'étiquette attachée au produit, sans avoir été endommagés, tachés, lavés, modifiés ou portés (à l'exception de l'essayage), en y joignant l'emballage original et tous accessoires se rapportant aux produits, tels que les emballages ou notices d'utilisation, ainsi que la facture d'origine. Si le délai de rétractation de quatorze (14) jours expire un samedi, un dimanche ou un jour férié, ce délai est prolongé jusqu'au jour ouvré suivant. Pour tout achat réalisé sur notre Site Web, les demandes de rétractation, quel que soit le mode de livraison, devront toutes nous être adressées via l'adresse de contact sur notre site, ou par tout autre moyen de votre choix exprimant explicitement votre volonté de vous rétracter. 
            </li>    
            <li> 
                Conformément aux dispositions de l'article L 221-24 du code de la consommation, nous rembourserons le prix des produits de votre commande ainsi que les frais de livraison en recréditant le moyen de paiement utilisé lors de votre commande initiale. Nous effectuerons ce remboursement dans les meilleurs délais et au plus tard dans les quatorze (14) jours suivants la réception des marchandises que vous nous aurez renvoyés. A défaut de remboursement sous ce délai, les sommes que nous vous devrions produiront intérêts aux conditions suivantes :
                - 10 jours après l'expiration du délai : taux d'intérêt légal ;
                - 10-20 jours de retard : taux d'intérêt de 5% ;
                - 20-30 jours de retard : taux d'intérêt de 10% ;
                - 30-60 jours de retard : taux d'intérêt de 20% ;
                - 60-90 jours de retard : taux d'intérêt de 50% ;
                - Au-delà de 90 jours : 5 points supplémentaires par nouveau mois de retard.  
            </li>    
            <li> 
                Nous vous demandons de prendre soin des produits pendant qu'ils sont en votre possession et de nous les retourner à l'adresse indiquée aux présentes, sans retard excessif et au plus tard dans les quatorze (14) jours suivants l'exercice de votre droit de rétractation. Veuillez prendre acte du fait que si vous ne prenez pas soin des produits, ou si vous ne nous les retournez pas en respectant les conditions prévues au présent article, vous ne pourrez pas réclamer le remboursement des produits. 
            </li>    
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Garanties 
        </div>

        <ol>
            <li> 
                Vous bénéficiez des garanties énumérées au présent article 12 uniquement dans la mesure où les produits ont été achetés directement sur le Site Web. 
            </li>    
            <li> 
                Vous bénéficiez des garanties légales suivantes : La garantie légale de conformité (articles L.217-4 et suivants du Code de la consommation), Si vos produits sont non conformes (par exemple s'ils ne correspondent pas à la description donnée sur le site ou à votre commande), vous bénéficiez d'un délai de deux ans à compter de la délivrance du bien pour contacter notre Service Clientèle par courriel via le formulaire de contact https://shop.a1soir.com/contact, ou par courrier postal à l'adresse suivante : Autour d'Un Soir, 29 Boulevard Carnot, 06400 Cannes, France, et nous retourner les produits non conformes. Nous vous renverrons alors des produits de remplacement, lorsque ceux-ci sont disponibles. Si nous ne sommes pas en mesure de remplacer les produits non conformes dans un délai de trente (30) jours, vous pouvez :
                - demander un remboursement intégral des produits non conformes ou
                - conserver les produits non conformes et nous demander une réduction d'une partie du prix, qui sera déterminé au cas par cas. 
            </li>    
            <li> 
                Vous êtes dispensés de rapporter la preuve de l'existence du défaut de conformité du produit durant les vingt-quatre (24) mois suivant la délivrance du bien.  
            </li>    
            <li> 
                Cette garantie légale de conformité s'applique indépendamment de toute garantie commerciale éventuellement souscrite et ainsi que de la nature du produit. 
            </li>    
            <li> 
                La garantie légale contre les vices cachés (articles 1641 et suivants du Code civil). Si vous parvenez à prouver le vice caché d'un produit, nous sommes légalement tenus de réparer toutes les conséquences d'un tel vice caché (articles 1641 et suivants du Code civil). Vous pourrez alors choisir entre la résolution de la vente ou une réduction du prix (conformément à l'article 1644 du code civil). 
            </li>    
            <li> 
                En cas de remplacement des produits ou de remboursement, nous prenons en charge vos coûts de renvoi des produits. 
            </li>    
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Vos informations personnelles 
        </div>
        
        <ol>
            <li> 
                En communiquant des informations sur le Site Web, vous garantissez que vous utilisez votre véritable identité et que toutes les informations fournies sont vraies, précises, à jour et complètes au moment où vous nous fournissez ces informations. 
            </li>   
            <li> 
                Si vous constatez qu'une ou plusieurs des informations transmises sont incorrectes ou ne sont plus valables, vous devrez les modifier. A défaut, nous ne pourrons être tenus pour responsables des conséquences qui pourraient en résulter. 
            </li>   
            <li> 
                Les informations personnelles que vous nous fournissez en utilisant le Site Web seront enregistrées et utilisées uniquement dans le respect de notre Déclaration de Protection de la Vie Privée, qui peut être consultée plus haut.
            </li>   
            <li> 
                En passant une commande, vous acceptez et comprenez que nous serons endroit de stocker et traiter vos données personnelles. Nous respectons pleinement la vie privée des personnes qui consultent et utilisent ce Site Web. 
            </li> 
        
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Responsabilité
        </div>

        <ol>
            <li> 
                Nous ne serons pas responsables des pertes ou dommages que vous pourriez subir si de tels pertes ou dommages résultent d'un cas de force majeure, s'ils sont imputables au fait imprévisible et insurmontable d'un tiers, ou s'ils vous sont imputables. 
            </li>    
            <li>                 
                En cas de manquement de votre part à ces CGV, nous vous enverrons une mise en demeure d'y remédier. Si cette mise en demeure reste sans effet après un délai de quinze (15) jours, nous pourrons, de plein droit, vous refuser le droit d'accès au Site Web, ou refuser vos commandes futures. 
            </li>    
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Disponibilité et utilisation du Site Web
        </div>

        <ol>
            <li>
                Le Site Web est mis à votre disposition en l'état. aucune garantie n'est apportée quant au fait que le Site Web soit disponible sans interruption 24 heures sur 24 et de façon pleinement opérationnelle. Par exemple, l'accès au Site Web peut être interrompu sans préavis en cas de problèmes techniques ou encore pour des raisons de maintenance. 
            </li>    
            <li> 
                Il est de votre responsabilité de protéger votre ordinateur ou tout autre appareil numérique utilisé pour accéder au Site Web. Nous ne serons pas responsables des dommages qui pourraient être causés à votre ou vos appareils, ou de la perte de données qui pourrait résulter de l'utilisation du Site Web. 
            </li>    
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Commentaires et réclamations 
        </div>
        
        Nous vous invitons à faire des commentaires sur notre service afin que nous puissions continuellement l'améliorer. Notre objectif est de régler les problèmes rapidement et équitablement. Nous vous remercions de nous informer de tous vos commentaires, questions ou réclamations par courriel à notre Service Clientèle via la rubrique « Contact » sur la Boutique en ligne (https://shop.a1soir.com/contact). Vous pouvez également nous appeler au numéro suivant 04 93 45 17 17. Si vous souhaitez déposer une réclamation, indiquez-le clairement. Notre objectif est de répondre à votre réclamation dans un délai de sept (7) jours ouvrés, soit en y apportant une solution, soit en vous indiquant les modalités du traitement de votre réclamation.

        <div class="fw-bold mt-3 mb-2">
            Droits de la propriété intellectuelle
        </div>

        <ol>
            <li> 
                Votre utilisation du Site Web ne vous confère aucun droit de propriété intellectuelle sur le Site Web et son contenu. Vous n'avez notamment aucun droit sur nos créations protégées par le droit d'auteur, sur nos dessins et modèles et sur nos marques, ni sur ceux appartenant à des tiers. 
            </li>    
            <li>                 
                Nous vous mettons à disposition le Site Web uniquement à des fins d'utilisation personnelles et non commerciales. Le contenu du Site Web ne saurait être utilisé pour des besoins autres quels qu'ils soient, sans notre autorisation expresse et par écrit. 
            </li>    
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Modification du service ou modification des CGV
        </div>
        
        Nous nous réservons le droit de procéder à des modifications de notre Site Web et des présentes CGV à tout moment. Votre utilisation du Site Web et vos commandes seront soumises aux CGV en vigueur au moment de votre utilisation du Site Web ou de votre commande de produits, à moins qu'un changement de ces CGV ne soit exigé par la loi ou par une autorité gouvernementale (auquel cas ce changement s'appliquera également à toutes les commandes que vous avez déjà passées). 

        <div class="fw-bold mt-3 mb-2">
            Non-renonciation
        </div>
        
        Le fait pour l'une ou l'autre des parties de ne pas agir au titre de ces CGV ne constitue pas pour autant une renonciation au droit d'agir, sauf renonciation expresse et écrite. 

        <div class="fw-bold mt-3 mb-2">
            Stipulations finales 
        </div>

        <ol>
            <li> 
                Ces CGV sont régies par la législation française. 
            </li>    
            <li>                 
                Si l'une quelconque des stipulations des présentes CGV est jugée invalide, nulle ou inapplicable pour quelque raison que ce soit, cette stipulation sera considérée comme divisible du reste des CGV et n'affectera pas la validité et l'applicabilité des autres stipulations des CGV. 
            </li>    
            <li> 
                Autour d'un Soir ainsi que les marques qui y sont vendues sur le site sont des marques déposées. 
            </li>    
        </ol>

        <div class="fw-bold mt-3 mb-2">
            Informations légales
        </div>

        <ol>
            <li> 
                Le Site Web est édité par Autour d'un Soir, Société à responsabilité limitée au capital social de 75 000,00 Euro, ayant son siège social au 29 boulevard Carnot, 06400 Cannes, France, immatriculée au Registre du Commerce et des Sociétés de Cannes sous le numéro 880 559 414, tél. 0033 (0)4.93.45.17.17 
            </li>    
            <li>
                Vous pouvez écrire à notre service client via la rubrique «Contacts » sur la Boutique en ligne (https://shop.a1soir.com/contact). Par téléphone du mardi au vendredi de 10h à 12h et de 15h à 19h et le samedi de 10h à 16h au numéro suivant : 04 93 45 17 17. 
            </li>    
        </ol>
    </div>
</div>