<div class="public-main-content">

    <div class="container-fluid">

        <%= @texteContact %>
        <%= @texteAdresse %>

        mail: 

        <%#= render "map" %>

        <%= link_to "Prendre Rendez-vous", rdv_url(subdomain: "shop"), class: "d-block brand-colored text-decoration-none" %>

    </div>
</div>