<%= page_header("Le concept", "Découvrez notre concept unique de location de tenues") %>

<div class="public-main-content">
  <div class="container-fluid">
    <div class="text-center m-4 p-4" data-aos="fade">
      <p>expliquer concept Vente/ Location/ Personnalisation...</p>
    </div>
  </div>
</div>

