<%= page_header("Légal", "Mentions légales et conditions générales") %>

<div class="public-main-content">
  <div class="container-fluid">
    <div class="text-start m-4 p-4" data-aos="fade">
      <p>Contenu à venir...</p>
    </div>
  </div>
</div>

