<%= page_header("Nos autres activités", "Explorez l'ensemble de nos services") %>

<div class="public-main-content">
  <div class="container-fluid">
    <div class="text-center m-4 p-4" data-aos="fade">
      <p>Contenu à venir...</p>
    </div>
  </div>
</div>

