<%= page_header(
  "Nos collections", 
  "Découvrez notre sélection de tenues d'exception",
  image1: "https://images.pexels.com/photos/3775262/pexels-photo-3775262.jpeg",
  image2: "https://images.pexels.com/photos/14339119/pexels-photo-14339119.jpeg"
) %>

<div class="public-main-content">
  <div class="container-fluid p-0">
    <%= render partial: "public/shared/section_categories" %>
  </div>
</div>