<%= page_header("Prendre rendez-vous", "Réservez votre créneau en boutique") %>

<div class="public-main-content">
  <div class="container">

    <h3 class="mb-0 text-light text-center">
        <i class="bi bi-calendar-check public-brand-color me-2"></i>
        Formulaire de réservation
    </h3>

    <div class="card-body p-0">
        <%= render "public/demande_rdv/form", demande_rdv: DemandeRdv.new %>
    </div>
  </div>
</div>