<%= bandeau_entete("Rendez-vous", "calendar-date", @count_meetings, 
:nom_or_datedebut_or_datefin_or_lieu_cont, admin_meetings_path) %>

<%= bloc_nouveau(Meeting) %>

<!--div class="container my-3 text-center">
  <%#= link_to 'Jour', { type: 'day' }, class: active_date_range_class('day') %>
  <%#= link_to 'Semaine', { type: 'week' }, class: active_date_range_class('week') %>
  <%#= link_to 'Mois', { type: 'month' }, class: active_date_range_class('month') %>
</div-->

<div class="d-flex justify-content-center text-center my-4 m-2 overflow-auto" style="max-width: 100%; white-space: nowrap;">

  <%# if @calendar_type == "day" %>
    <%#= calendar(number_of_days: 1, events: @meetings_periode.includes(:commande, :client)) do |date, meetings| %>
      <%#= render partial: 'calendar', locals: { date: date, meetings: meetings } %>
    <%# end %>
  <%# elsif @calendar_type == "week" %>
    <%#= week_calendar(events: @meetings_periode.includes(:commande, :client)) do |date, meetings| %>
      <%#= render partial: 'calendar', locals: { date: date, meetings: meetings } %>
    <%# end %>
  <%# elsif @calendar_type == "month" %>
    <%#= month_calendar(events: @meetings_periode.includes(:commande, :client)) do |date, meetings| %>
      <%#= render partial: 'calendar', locals: { date: date, meetings: meetings } %>
    <%# end %>
  <%# end %>

  <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FParis&title=A1soir&showTitle=0&showPrint=0&showCalendars=0&mode=WEEK&src=YTFzb2lyLmFwcEBnbWFpbC5jb20&src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</div>


<div>
  <hr>

  <% if params[:q].present? %>
    <%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
        <div id="meetings"> </div> 

        <%= turbo_frame_tag :pagination, loading: :lazy, 
                            src: meetings_path(format: :turbo_stream,
                            q: params[:q]&.to_unsafe_h) %>
    <% end %>

  <% end %>


  <div class="container-fluid text-end">
    <%#= link_to "S'abonner au calendrier", meetings_url(protocol: :webcal, format: :ics), 
          class:"btn btn-sm btn-dark fw-bold" %>  
    <%#= render 'copy_url_button' %>
    <%#= link_to "Download Calendar (ICS)", download_ics_meetings_path, class: "btn btn-primary" %>

  </div>
 
</div>
