<div class="cart-reassurance d-flex justify-content-center" data-scroll-reveal>
  <div class="row g-4 g-md-5 justify-content-center">
    <div class="col-auto">
      <div class="cart-reassurance-card h-100">
        <i class="bi bi-patch-check cart-reassurance-icon" aria-hidden="true"></i>
        <p class="cart-reassurance-text mb-0">
          <%= t("public.pages.cart.reassurance.shipping") %>
        </p>
      </div>
    </div>
    <div class="col-auto">
      <div class="cart-reassurance-card h-100">
        <i class="bi bi-truck cart-reassurance-icon" aria-hidden="true"></i>
        <p class="cart-reassurance-text mb-0">
          <%= t("public.pages.cart.reassurance.tracking") %>
        </p>
      </div>
    </div>
    <div class="col-auto">
      <div class="cart-reassurance-card h-100">
        <i class="bi bi-arrow-return-left cart-reassurance-icon" aria-hidden="true"></i>
        <p class="cart-reassurance-text mb-0">
          <%= t("public.pages.cart.reassurance.returns") %>
        </p>
      </div>
    </div>
  </div>
</div>
