<%#= bandeau_entete("Friends", "user", @friends.count, "your-search") %>

<%= bloc_nouveau(Friend) %>

<div id="friends">
  <% @friends.each do |friend| %>
        <%= render friend %>
  <% end %>
</div>


<%= link_to "Download Sample File", download_file_friends_path, class: "btn btn-primary" %>

