<%= card_main_model(
  "Articles", 
  "person-standing-dress", 
  link_to("", admin_selection_produit_path(commande: @commande), 
  class: "bi bi-plus-lg btn btn-sm btn-warning fw-bold"
)) %>

<div class="collapse" id="collapseNewArticle">
  <div id="new_article" class="mb-3">
    <%= render partial: 'admin/articles/form', locals: { commande_id: @commande.id, article: Article.new } %>
  </div>
</div>

<div id="articles">
  <% @articles.includes(:sousarticles).each do |article| %>
    <%= render partial: 'admin/articles/article', locals: { article: article } %>
  <% end %>
</div>


<div class="card mx-2 rounded bg-secondary mb-3">
  <%= render 'admin/articles/synthese' %>
</div>
