<% articles_header_actions = capture do %>
  <%= admin_bandeau_nouveau_cta admin_selection_produit_path(commande: @commande), title: "Sélection produit" %>
<% end %>
<%= card_main_model("Articles", "person-standing-dress", articles_header_actions,
      totals_inline: render("admin/articles/synthese")) %>

<div id="articles" class="<%= admin_list_stack_classes %>">
  <% @articles.includes(:sousarticles).each do |article| %>
    <%= render partial: 'admin/articles/article', locals: { article: article } %>
  <% end %>
</div>
