<%= card_main_model(
  "Articles", 
  "shirt", 
  link_to("", selection_produit_path(commande: @commande), 
  class: "fa fa-plus btn btn-warning fw-bold"
)) %>

<div class="collapse" id="collapseNewArticle">
  <div id="new_article" class="mb-3">
    <%= render partial: 'articles/form', locals: { commande_id: @commande.id, article: Article.new } %>
  </div>
</div>

<div id="articles">
  <% @commande.articles.each do |article| %>
    <%= render partial: 'articles/article', locals: { article: article } %>
  <% end %>
</div>

<div class="card mx-2 rounded bg-secondary mb-3">
  <%= render 'articles/synthese' %>
</div>
