<%= card_main_model("Articles", "shirt",
  link_to("", "#collapseNewArticle", 
  class: "fa fa-plus btn btn-warning fw-bold", 
  data: { bs_toggle: "collapse" }, 
  role: "button", aria: { expanded: "false", controls: "collapseNewArticle" })) %>

<div class="collapse" id="collapseNewArticle">
    <div id="new" class="mb-3">
        <%= render partial: 'articles/form', locals: { commande_id: @commande.id, article: Article.new } %>
    </div>
</div>

<div id="articles">
  <% @commande.articles.each do |article| %>
    <%= render partial: 'articles/article', locals: { article: article } %>
  <% end %>
</div>
