  
<%= render "infosCommande" %>

<h1>Nouvel article</h1>

<%#= render "form", article: @article %>
  <%# liste des produits pour selection %>
  <%# if @produitId.nil? %> 
    <%= render "listeSelection" %>
  <%# else %>
    <%= render "form", article: @article %>
  <%# end %>

<div>
  <% @commandeId = session[:commandeId] %>
  <%#= link_to "Retour", commande_path(@commandeId), class:"btn btn-sm btn-secondary", style:"margin-top: 4px" %>
</div>
