  
<%= render "infosCommande" %>

<h1>Nouvel article</h1>

<%#= render "form", article: @article %>
  <%# liste des produits pour selection %>
  <% unless @produitId.present? %> 
    <%= render "listeSelection" %>
  <% end %>

    <%= render "form", article: @article %>








<div>
  <% @commandeId = session[:commandeId] %>
  <%#= link_to "Retour", commande_path(@commandeId), class:"btn btn-sm btn-secondary", style:"margin-top: 4px" %>
</div>
