<%= bandeau_entete("Produits", "person-standing-dress", @count_produits, 
      :nom_or_reffrs_or_handle_or_categorie_produit_nom_or_type_produit_nom_or_couleur_nom_or_taille_nom_cont,
      produits_path) %>

<%= bloc_nouveau(Produit) %>

<%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
<div id="produits"> </div> 

<%= turbo_frame_tag :pagination, loading: :lazy, 
                      src: produits_path(format: :turbo_stream,
                     q: params[:q]&.to_unsafe_h) %>
<% end %>