<%= bandeau_entete("Produits", "shirt", @produits.count, 
  :nom_or_prixvente_or_prixlocation_or_reffrs_or_handle_or_categorie_produit_nom_or_type_produit_nom_or_couleur_nom_or_taille_nom_cont) %>

<%= bloc_nouveau(Produit) %>

<div id="produits">
  <% @produits.each do |produit| %>
        <%= render produit %>
  <% end %>
</div>




