<%= bandeau_entete("Produits", "shirt", @produits.count, "your-search") %>

<%= bloc_nouveau(Produit) %>

<div id="produits">
  <% @produits.each do |produit| %>
        <%= render produit %>
  <% end %>
</div>


