<%= bandeau_entete("Profiles", "person-check", @profiles.count, :nom_or_prenom_cont, profiles_path) %>

<%= bloc_nouveau(Profile) %>

<%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
    <div id="profiles"> </div> 

    <%= turbo_frame_tag :pagination, loading: :lazy, 
                        src: profiles_path(format: :turbo_stream,
                        q: params[:q]&.to_unsafe_h) %>
<% end %>