<%= card_main_model("Profile", "user-gear") %>

<div class="<%= admin_list_stack_classes %>">
  <%= render @profile %>
</div>

<hr>

<%= return_model_index_button("Retour vers profiles", admin_profiles_path) %>
