<div id="<%= dom_id type_produit %>">
  <div class="card mx-2 light-beige-colored shadow-sm">
    <div class="card-body p-2 d-flex flex-row flex-wrap align-items-center justify-content-between gap-2">
      <div data-turbo="false">
        <%= link_to type_produit.nom, admin_type_produit_path(type_produit), class: "text-dark text-decoration-none fw-semibold" %>
      </div>
      <%= links_record(type_produit) %>
    </div>
  </div>
</div>
