
<h1>Textes</h1>

<div id="textes">
  <% @textes.each do |texte| %>
    <%= render texte %>
    <p>
      <%= button_to("", edit_admin_texte_path(texte), method: :post, class: "btn btn-sm btn-secondary bi bi-pencil-square me-1 p-2") %>
    </p>
  <% end %>
</div>

<% unless @textes.any? %>
  <%= link_to "New texte", new_admin_texte_path %>
<% end %>
