<div class="container-fluid">
    <div class="row mx-2 p-2">
        <div class="col-2 text-start">
            <%= custom_badge("", @commande.ref_commande, "secondary", "") %>        
        </div>
        <div class="col-8">
            <div class="d-flex align-items-center justify-content-center">
                <%= custom_badge("", @commande.client.full_name, "secondary", "") %>
                <%= render 'synthese' %>
            </div>
        </div>
        <div class="col-2 text-end">
                <button class="btn btn-primary fa fa-bounce" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <i class="fa fa-file me-1"></i>
                </button>
        </div>
    </div>
</div>
