<div class="d-flex align-items-center justify-content-evenly mx-2 p-2">

    <%= custom_badge("", @commande.ref_commande, "secondary", "") %>
    <%= custom_badge("", @commande.client.full_name, "secondary", "") %>

    <%= render 'synthese' %>



    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
           <i class="fa fa-file me-1"></i>
            <span class="fw-bold"> Editer </span> 
    </button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Type d'édition</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <%= render 'choix_edition' %>
    </div>
    </div>



</div>

