<div class="container-fluid m-0 p-0">
    <div class="row mx-1 py-2 align-items-center">
        <div class="col text-start">

            <span class="badge bg-secondary fw-bold m-1 fs-6 shadow-sm text-light">
                <%= @commande.ref_commande %>        
            </span>


            <%#= custom_badge("", @commande.client.full_name, "secondary", "") %>
        </div>
        <div class="col-6 text-center">
            <%= render 'synthese' %>
        </div>
        <div class="col text-end">
            <button class="btn btn-primary fa fa-bounce" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <i class="fa fa-file"></i>
                <span class="d-none d-md-inline ms-1">editer</span>
            </button>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Edition</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <%= render 'doc_editions/new' %>
    </div>
</div>
