


<div class="card mx-2 my-3 p-3 light-beige-colored shadow-sm">

    <% @produits.each do |produit| %>
        <p>
            <%= produit.full_name %>

            <button class="btn btn-sm btn-warning m-2" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#collapseNewArticle<%= produit.id %>" aria-expanded="false">
                <i class="fa-solid fa-square-plus fa-xl"></i>
            </button>

            <div class="collapse" id="collapseNewArticle<%= produit.id %>">
                <div id="new" class="">
                    <%= render partial: 'articles/form', locals: { commande_id: @commande.id, produit_id: produit.id, article: Article.new } %>
                </div>
            </div>

        </p>
    <% end %>

</div>