<%= bandeau_entete("Commandes", "file-invoice", Commande.count, 
  :nom_or_type_locvente_or_typeevent_cont, commandes_path) %>

<%= bloc_nouveau(Commande) %>

<%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
  <div id="commandes"> </div> 

  <%= turbo_frame_tag :pagination, loading: :lazy, 
                        src: commandes_path(format: :turbo_stream,
                        q: params[:q]&.to_unsafe_h) %>
<% end %>