p<%= bandeau_entete("Commandes", "file-invoice", @commandes.count, :nom_or_type_locvente_or_typeevent_cont) %>

<%= bloc_nouveau(Commande) %>

<div id="commandes">
  <% @commandes.each do |commande| %>
        <%= render commande %>
  <% end %>
</div>


