<%= bandeau_entete("Commandes", "file-invoice", @commandes.count, "your-search") %>

<%= bloc_nouveau(Commande) %>

<div id="commandes">
  <% @commandes.each do |commande| %>
        <%= render commande %>
  <% end %>
</div>


