<div id="<%= dom_id categorie_produit %>">
  <p>
    <strong>Nom:</strong>
    <%= categorie_produit.nom %>
  </p>

  <p>
    <strong>Texte annonce:</strong>
    <%= categorie_produit.texte_annonce %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= categorie_produit.label %>
  </p>

</div>
