<p style="color: green"><%= notice %></p>

<%= bandeau_entete("Catégories produits", "layer-group", @categorie_produits.count, "your-search") %>

<%= bloc_nouveau(CategorieProduit) %>

<%= model_collection(@categorie_produits, CategorieProduit) %>


