<p style="color: green"><%= notice %></p>

<h1>Categorie produits</h1>

<div id="categorie_produits">
  <% @categorie_produits.each do |categorie_produit| %>
    <%= render categorie_produit %>
    <p>
      <%= link_to "Show this categorie produit", categorie_produit %>
    </p>
  <% end %>
</div>

<%= link_to "New categorie produit", new_categorie_produit_path %>
