<div id="<%= dom_id type_produit %>" class="my-2">

  <div class="card d-flex flex-row mx-2 my-3 p-3 light-beige-colored shadow-sm">

    <%= type_produit.nom %>

    <div class="container text-end">
      <%= links_record(type_produit) %>  
    </div>

  </div>
</div>
