
<%= bandeau_entete("Types produits", "layer-group", @type_produits.count, :nom_cont) %>

<%= bloc_nouveau(TypeProduit) %>

<div id="type_produits">
  <% @type_produits.each do |type_produit| %>
        <%= render type_produit %>
  <% end %>
</div>
