<div id="<%= dom_id couleur %>" class="my-2">

  <div class="card mx-2 my-3 p-3 light-beige-colored shadow-sm">

    <p>
      <strong>Nom:</strong>
      <%= couleur.nom %>
    </p>

  </div>

</div>
