<table class="table">
  <td class="text-center align-middle", style="width: 150px;"> 
    <strong style="color: rgb(204, 46, 102)"> Contact </strong>
  </td>
  <td class="text-center align-middle", style="width: 300px;"> 
    <%= image_tag asset_url('/images/logo1.png'), style: "width: 500px;", class: "img-fluid rounded", id:"imgLogoIf1" %> 
  </td>
  <td class="text-center align-middle", style="width: 150px;">

    <strong style="color: rgb(204, 46, 102)"> Contact </strong>
  </td>
</table>
