<div id="<%= dom_id client %>">
  <p>
    <strong>Nom:</strong>
    <%= client.nom %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= client.mail %>
  </p>

  <p>
    <strong>Commentaires:</strong>
    <%= client.commentaires %>
  </p>

</div>
