
 <h5 class="bg-dark text-center"> Clients</h5>

<%= render "clients/search" %>

 <table class="table table-primary table-striped table-bordered table-hover">
    <tbody class="table-light">
      <tr>
        <% @clients.limit(10).each do | client | %>
          <td> <%= link_to client.nom, client_path(client), class:"text-dark fs-6" %> </td>
        </tr> 
        <% end %>
    </tbody>
 </table>

<div class="text-center">
  <%= link_to "Nouveau client", new_client_path, class:"btn btn-sm btn-primary text-center" %>
</div>
