<%= bandeau_entete("Clients", "user", @clients.count, :nom_or_prenom_cont) %>

<%= bloc_nouveau(Client) %>

<div id="clients">
  <% @clients.each do |client| %>
        <%= render client %>
  <% end %>
</div>



