<%= bandeau_entete("Clients", "user", @clients.count, "your-search") %>

<%= bloc_nouveau(Client) %>

<div id="clients">
  <% @clients.each do |client| %>
        <%= render client %>
  <% end %>
</div>


