
<div id="new_client">
  <%= render partial: "clients/form", locals: { client: Client.new } %>
</div>

<h3>
 Clients
  <span id="client_counter">
    <%= Client.count %>
  </span>
</h3>  

 <%#= render "choixCategorie" %>
 <%#= render "search" %>

<div id="clients">
  <%= render @clients %>

<%#= link_to "Nouveau client", new_client_path, class:"btn btn-sm btn-primary" %>
