
<br>
<div class="text-center">
  <h2 class="animate__animated animate__bounce">DASHBOARD A1soir</h2>
</div>
<hr/>


<%# <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_h6ykqbyg.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop controls autoplay></lottie-player> %>


