<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_h6ykqbyg.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop controls autoplay></lottie-player>
