<h1>Editing modelsousarticle</h1>

<%= render "form", modelsousarticle: @modelsousarticle %>

<br>

<div>
  <%= link_to "Show this modelsousarticle", @modelsousarticle %> |
  <%= link_to "Back to modelsousarticles", modelsousarticles_path %>
</div>
