<p style="color: green"><%= notice %></p>

<h1>Modelsousarticles</h1>

<div id="modelsousarticles">
  <% @modelsousarticles.each do |modelsousarticle| %>
    <%= render modelsousarticle %>
    <p>
      <%= link_to "Show this modelsousarticle", modelsousarticle %>
    </p>
  <% end %>
</div>

<%= link_to "New modelsousarticle", new_modelsousarticle_path %>
