<h1>Editing paiement recu</h1>

<%= render "form", paiement_recu: @paiement_recu %>

<br>

<div>
  <%= link_to "Show this paiement recu", @paiement_recu %> |
  <%= link_to "Back to paiement recus", paiement_recus_path %>
</div>
