<h1>Editing paiement recu</h1>

<%= render "form", paiement_recu: @paiement_recu %>

<br>

<div>
  <%= link_to "Retour à la commande", admin_commande_path(@paiement_recu.commande) %> |
  <%= link_to "Liste des paiements reçus", admin_paiement_recus_path %>
</div>
