<%# :selection_produit = carte beige alignée produit / article (page sélection)
    # :commande (défaut) = même gabarit que _sousarticle (fond blanc, bordure, pas de mx-2) %>
<% form_layout = local_assigns.fetch(:sousarticle_form_layout, :commande) %>

<div id="<%= dom_id(sousarticle) %>">
  <% if form_layout == :selection_produit %>
    <div class="card mx-2 my-0 light-beige-colored shadow-sm">
      <div class="card-body p-2 d-flex flex-column">
        <%= render "admin/sousarticles/form_fields", sousarticle: sousarticle,
              article: local_assigns[:article],
              produit_id: local_assigns[:produit_id] %>
      </div>
    </div>
  <% else %>
    <%# Aligné sur la carte lecture dans _sousarticle.html.erb %>
    <div class="p-2 rounded-2 border border-secondary border-opacity-25 bg-white d-flex flex-column">
      <%= render "admin/sousarticles/form_fields", sousarticle: sousarticle,
            article: local_assigns[:article],
            produit_id: local_assigns[:produit_id] %>
    </div>
  <% end %>
</div>
