<div id="filtres-categorie">
    <% 
      # Gérer params[:id] comme un tableau ou une valeur unique
      selected_ids = params[:id].present? ? (params[:id].is_a?(Array) ? params[:id].map(&:to_i) : [params[:id].to_i]) : []
      
      # Déterminer le texte à afficher
      display_text = if selected_ids.empty?
        "Catégorie"
      elsif selected_ids.size == 1
        @toutes_categories.find { |c| c.id == selected_ids.first }&.nom || "Catégorie"
      else
        "#{selected_ids.size} catégories"
      end
    %>
    
    <div class="dropdown" style="position: relative; z-index: 9999;">
        <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="categorieDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-list-ul"></i>
            <span class="ms-1 d-none d-md-inline">
                <%= display_text %>
            </span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="categorieDropdown" style="position: absolute; z-index: 9999;">
            <li>
            <%= button_to "Toutes", 
                update_filters_path(
                    slug: nil,
                    id: nil,
                    taille: params[:taille],
                    couleur: params[:couleur],
                    prixmax: params[:prixmax],
                    type: params[:type],
                    from_cabine: params[:from_cabine]
                ), 
                method: :get,
                class: "dropdown-item #{'fw-bold' if selected_ids.empty?}" %>
            </li>

            <% @toutes_categories.each do |categorie| %>
            <li>
                <%= button_to categorie.nom,
                    update_filters_path(
                    slug: categorie.nom.parameterize,
                    id: categorie.id,
                    taille: params[:taille],
                    couleur: params[:couleur],
                    prixmax: params[:prixmax],
                    type: params[:type],
                    from_cabine: params[:from_cabine]
                    ),
                    class: "dropdown-item #{'fw-bold' if selected_ids.include?(categorie.id)}" %>
            </li>
            <% end %>
        </ul>
    </div>


</div>