<div id="filtres-type">

    <div class="dropdown" style="position: relative;">
        <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="typeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-tags"></i>
            <span class="ms-1 d-none d-md-inline">
            <%= params[:type].present? ? params[:type].capitalize : "Type" %>
            </span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="typeDropdown" style="position: absolute;">
            <li>
            <%= button_to "Tous",
                update_filters_path(
                    slug: params[:slug],
                    id: params[:id],
                    taille: params[:taille],
                    couleur: params[:couleur],
                    prixmax: params[:prixmax],
                    type: nil,
                    from_cabine: params[:from_cabine]
                ),
                class: "dropdown-item #{'fw-bold' if params[:type].blank?}" %>
            </li>

            <% @types.each do |type| %>
            <li>
                <%= button_to type.capitalize,
                    update_filters_path(
                    slug: params[:slug],
                    id: params[:id],
                    taille: params[:taille],
                    couleur: params[:couleur],
                    prixmax: params[:prixmax],
                    type: type,
                    from_cabine: params[:from_cabine]
                    ),
                    class: "dropdown-item #{'fw-bold' if params[:type].to_s == type.to_s}" %>
            </li>
            <% end %>
        </ul>
    </div>


</div>