<div id="filtres-actifs">
  <% has_active_filters = params[:id].present? || params[:type_produit].present? || params[:taille].present? ||
                          params[:couleur].present? || params[:type].present? || params[:prixmax].present? ||
                          ActiveModel::Type::Boolean.new.cast(params[:en_promotion]) %>

  <% if has_active_filters %>
    <div class="container-fluid px-3 py-3 text-center">
      <p class="text-light small mb-2 opacity-75">
        <i class="bi bi-info-circle me-1"></i><%= t("public.pages.produits.filters.active.hint") %>
      </p>
      <%= button_to update_filters_path(slug: nil, id: nil, couleur: nil, prixmax: nil, taille: nil, type: nil, en_promotion: nil, from_cabine: params[:from_cabine], type_produit: nil),
          class: "btn btn-sm btn-outline-light" do %>
        <i class="bi bi-x-circle me-1"></i><%= t("public.pages.produits.filters.active.clear_all") %>
      <% end %>
    </div>
  <% end %>
</div>
