<div id="filtres-taille">

    <div class="dropdown" style="position: relative; z-index: 9999;">
        <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="tailleDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-rulers"></i>
            <span class="ms-1 d-none d-md-inline">
            <%= if params[:taille].present?
                    @toutes_tailles.find { |t| t.id == params[:taille].to_i }&.nom || "Taille"
                else
                    "Taille"
                end %>
            </span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="tailleDropdown" style="position: absolute; z-index: 9999;">
            <li>
            <%= button_to "Toutes", 
                update_filters_path(
                    slug: params[:slug],
                    id: params[:id],
                    taille: nil,
                    couleur: params[:couleur],
                    prixmax: params[:prixmax],
                    type: params[:type],
                    from_cabine: params[:from_cabine]
                ),
                class: "dropdown-item #{'fw-bold' if params[:taille].blank?}" %>
            </li>

            <% @toutes_tailles.each do |taille| %>
            <li>
                <%= button_to taille.nom,
                    update_filters_path(
                    slug: params[:slug],
                    id: params[:id],
                    taille: taille.id,
                    couleur: params[:couleur],
                    prixmax: params[:prixmax],
                    type: params[:type],
                    from_cabine: params[:from_cabine]
                    ),
                    class: "dropdown-item #{'fw-bold' if params[:taille].to_s == taille.id.to_s}" %>
            </li>
            <% end %>
        </ul>
    </div>


</div>