<div id="filtres-type">

    <div class="dropdown position-relative">
        <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="typeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-tags"></i>
            <span class="ms-1 d-none d-md-inline">
                <%= params[:type].present? ? params[:type].capitalize : t("public.pages.produits.filters.type.fallback") %>
            </span>
        </button>

        <div class="dropdown-menu overflow-y-auto" aria-labelledby="typeDropdown" style="max-height: 18rem">
            <%= button_to t("public.pages.produits.filters.type.all_button"),
                update_filters_path(slug: params[:slug], id: params[:id], taille: params[:taille], couleur: params[:couleur], prixmax: params[:prixmax], type: nil, from_cabine: params[:from_cabine], type_produit: params[:type_produit]),
                class: "dropdown-item text-nowrap #{'fw-bold' if params[:type].blank?}" %>
            <hr class="dropdown-divider">
            <% @types.each do |type| %>
                <%= button_to type.capitalize,
                    update_filters_path(slug: params[:slug], id: params[:id], taille: params[:taille], couleur: params[:couleur], prixmax: params[:prixmax], type: type, from_cabine: params[:from_cabine], type_produit: params[:type_produit]),
                    class: "dropdown-item text-nowrap #{'fw-bold' if params[:type].to_s == type.to_s}" %>
            <% end %>
        </div>
    </div>

</div>
