<div id="filtres-couleur">

    <div class="dropdown" style="position: relative;">
        <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="couleurDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-palette"></i>
            <span class="ms-1 d-none d-md-inline">
            <%= if params[:couleur].present?
                    @toutes_couleurs.find { |c| c.id == params[:couleur].to_i }&.nom || "Couleur"
                else
                    "Couleur"
                end %>
            </span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="couleurDropdown" style="position: absolute;">
            <li>
            <%= button_to "Toutes",
                update_filters_path(
                    slug: params[:slug],
                    id: params[:id],
                    taille: params[:taille],
                    couleur: nil,
                    prixmax: params[:prixmax],
                    type: params[:type],
                    from_cabine: params[:from_cabine],
                    type_produit: params[:type_produit]
                ),
                class: "dropdown-item #{'fw-bold' if params[:couleur].blank?}" %>
            </li>

            <% @toutes_couleurs.each do |couleur| %>
            <li>
                <%= button_to couleur.nom,
                    update_filters_path(
                    slug: params[:slug],
                    id: params[:id],
                    taille: params[:taille],
                    couleur: couleur.id,
                    prixmax: params[:prixmax],
                    type: params[:type],
                    from_cabine: params[:from_cabine],
                    type_produit: params[:type_produit]
                    ),
                    class: "dropdown-item #{'fw-bold' if params[:couleur].to_s == couleur.id.to_s}" %>
            </li>
            <% end %>
        </ul>
    </div>



</div>