<div id="filtres-type-produit">

    <div class="dropdown position-relative">
        <button class="btn btn-sm btn-outline-light dropdown-toggle" type="button" id="typeProduitDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-bookmarks"></i>
            <span class="ms-1 d-none d-md-inline">
                <%= params[:type_produit].present? ? (@types_produits.find { |tp| tp.id == params[:type_produit].to_i }&.nom || "Type") : "Type" %>
            </span>
        </button>

        <div class="dropdown-menu overflow-y-auto" aria-labelledby="typeProduitDropdown" style="max-height: 18rem">
            <%= button_to "Tous",
                update_filters_path(slug: params[:slug], id: params[:id], taille: params[:taille], couleur: params[:couleur], prixmax: params[:prixmax], type: params[:type], type_produit: nil, from_cabine: params[:from_cabine]),
                class: "dropdown-item text-nowrap #{'fw-bold' if params[:type_produit].blank?}" %>
            <hr class="dropdown-divider">
            <% @types_produits.each do |type_produit| %>
                <%= button_to type_produit.nom,
                    update_filters_path(slug: params[:slug], id: params[:id], taille: params[:taille], couleur: params[:couleur], prixmax: params[:prixmax], type: params[:type], type_produit: type_produit.id, from_cabine: params[:from_cabine]),
                    class: "dropdown-item text-nowrap #{'fw-bold' if params[:type_produit].to_s == type_produit.id.to_s}" %>
            <% end %>
        </div>
    </div>

</div>
