<%= bandeau_entete("Fournisseurs", "layer-group", @fournisseurs.count, :nom_or_tel_or_mail_cont) %>

<%= bloc_nouveau(Fournisseur) %>

<div id="fournisseurs">
  <% @fournisseurs.each do |fournisseur| %>
        <%= render fournisseur %>
  <% end %>
</div>
