<%= bandeau_entete("Fournisseurs", "layer-group", @fournisseurs.count, 
:nom_or_tel_or_mail_cont, fournisseurs_path) %>

<%= bloc_nouveau(Fournisseur) %>

<%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
    <div id="fournisseurs"> </div> 

    <%= turbo_frame_tag :pagination, loading: :lazy, 
                        src: fournisseurs_path(format: :turbo_stream,
                        q: params[:q]&.to_unsafe_h) %>
<% end %>