<%= bandeau_entete("Fournisseurs", "layer-group", @fournisseurs.count, "your-search") %>

<%= bloc_nouveau(Fournisseur) %>

<div id="fournisseurs">
  <% @fournisseurs.each do |fournisseur| %>
        <%= render fournisseur %>
  <% end %>
</div>
