<div class="chartBox mx-auto">
  <canvas id="myChartBarArticles"></canvas>
</div>

<% @data = [@nbLoc, @nbVente] %>

<script>
  var couleur1 = 'rgb(174, 189, 202)';
  var couleur2 = 'rgb(120, 149, 178)';

  var dataBarArticles = {
    labels: ['location', 'vente'],
    datasets: [{
      data: <%= @data.to_json.html_safe %>,
      fill: true,
      backgroundColor: [couleur1, couleur2],
      borderColor: 'rgb(0, 0, 0)',
      borderWidth: 1
    }]
  };

  var delayedBarArticles;

  var configBarArticles = {
    type: 'bar',
    data: dataBarArticles,
    options: {
      plugins: {
        legend: {
          display: false
        }
      },
      aspectRatio: 1,

      animation: {
        onComplete: () => {
          delayedBarArticles = true;
        },
        delay: (context) => {
          let delay = 0;
          if (context.type === 'data' && context.mode === 'default' && !delayedBarArticles) {
            delay = context.dataIndex * 200 + context.datasetIndex * 10;
          }
          return delay;
        }
      },

      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            stepSize: 1,
            callback: function(value) {
              if (Number.isInteger(value)) {
                return value;
              }
            }
          }
        }
      }
    }
  };

  var myChartBarArticles = new Chart(
    document.getElementById('myChartBarArticles'),
    configBarArticles
  );
</script>
