
  <div class="chartBox mx-auto">
    <canvas id="myChartPiePaiements"></canvas>
  </div>

  <% @data = [@totalPrixCaCb, @totalPrixCaEspeces, @totalPrixCaCheque, @totalPrixCaVirement] %>

<script>
  var couleur1 = 'rgb(20, 63, 169)';
  var couleur2 = 'rgb(20, 169, 74)';
  var couleur3 = 'rgb(160, 155, 155)';
  var couleur4 = 'rgb(251, 247, 39)';

  var nbTotalPaiements = <%= @totalPrixCa %>;

  var centerTextDoghnutPaiements = {
    id: 'centerTextDoghnutCa',
    afterDatasetsDraw(chart, args, pluginOptions){
      const { ctx } = chart;
      ctx.textAlign = "center";
      ctx.textBaseline = "middle";
      ctx.font = "bold 12px sans-serif";
      const text = "total " + nbTotalPaiements ;
      const textWidth = ctx.measureText(text).width;
      const x = chart.getDatasetMeta(0).data[0].x;
      const y = chart.getDatasetMeta(0).data[0].y;
      ctx.fillText(text, x, y);
    }
  }

   var dataPiePaiements = {
      labels: ['CB', 'Espèces', 'Chèque', 'Virement'],
      datasets: [{
        data: <%= @data.to_json.html_safe %>,
        fill: true,
        backgroundColor: [ couleur1, couleur2, couleur3, couleur4 ],
        borderWidth: 1
      }]
    };

    var configPiePaiements = {
      type: 'doughnut',
          data: {
            labels: ['CB', 'Espèces', 'Chèque', 'Virement'],
            datasets: [{
              data: <%= @data.to_json.html_safe %>,       
              backgroundColor: [ couleur1, couleur2, couleur3, couleur4 ],
              hoverOffset: 40,
              borderWidth: 1,
              cutout: '50%'
            }]
          },
          options: {
            animation: {
              animateRotate: true,
              duration: 5000
            },
            plugins: {
              legend: {
                display: true,
                position: 'top',
              },
            },

          },
          plugins: [centerTextDoghnutPaiements]
        };

  var myChartPiePaiements = new Chart(
    document.getElementById('myChartPiePaiements'),
    configPiePaiements
  );

</script>

