
  <div class="chartBox mx-auto">
    <canvas id="myChartLinePaiements"></canvas>
  </div>

<script>

  var couleur1 = 'rgb(20, 63, 169)';
  var couleur2 = 'rgb(240, 214, 83)';

    var dataLinePaiements = {
      datasets: [{
        data: <%= @groupedByDateCa.to_json.html_safe %>,
        fill: true,
        backgroundColor: [couleur1, couleur2 ],
        borderWidth: 1,
        borderColor: 'rgb(0, 0, 0)',
        tension: 0.4
      }]
    };

    var delayedLinePaiements;

    var configLinePaiements = {
      type: 'line',
      data: dataLinePaiements,
      options: {

        plugins: {
            legend: {
                display: false
            },
        },
        aspectRatio: 1,

        elements: {
          point: {
            radius: 2,
            hoverRadius: 4,
            borderWidth: 1,
            hoverBorderWidth: 2
          }
        },

         animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayedLinePaiements) {
                    delay = context.dataIndex * 2000  + context.datasetIndex * 10;
                    }
                    return delay;
                },
            },

          }
      };

    var myChartLinePaiements = new Chart(
      document.getElementById('myChartLinePaiements'),
      configLinePaiements
    );

</script>
