
  <div class="chartBox mx-auto">
    <canvas id="myChartBarTransactions"></canvas>
  </div>

  <% @data = [@totalTransactionsLoc, @totalTransactionsVente] %>

<script>

  var couleur1 = 'rgb(116, 159, 130)';
  var couleur2 = 'rgb(66, 95, 87)';

    var dataBarTransactions = {
      labels: ['location', 'vente'],
      datasets: [{

        data: <%= @data.to_json.html_safe %>,
        fill: true,
        backgroundColor: [ couleur1, couleur2 ],
        borderWidth: 1
      }]
    };

    var delayedBarTransactions;

    var configBarTransactions = {
      type: 'bar',
      data: dataBarTransactions,
      options: {

        plugins: {
            legend: {
                display: false
            },
        },
        aspectRatio: 1,

         animation: {
                onComplete: () => {
                    delayed = true;
                },
                delay: (context) => {
                    let delay = 0;
                    if (context.type === 'data' && context.mode === 'default' && !delayedBarTransactions) {
                    delay = context.dataIndex * 2000  + context.datasetIndex * 10;
                    }
                    return delay;
                },
            },

            borderColor:'rgb(0, 0, 0)',
            lineTension: 0.4,

          }
      };

    var myChartBarTransactions = new Chart(
      document.getElementById('myChartBarTransactions'),
      configBarTransactions
    );


</script>
