
<div class="container border border-light">
  <div class="row">
    <div class="col">
       <%= render "clients/liste" %>
    </div>
    <div class="col-6 p-4">
         <%= render "boutonsActionsBis" %>
    </div>
    <div class="col">
       <%= render "clients/liste" %>
    </div>
  </div>
</div>



       