
<div class="container border border-light">
  <div class="row">
    <div class="col">
       <%= render "clients/liste" %>
    </div>
    <div class="col-6">
       <%= render "boutonsActions" %>
    </div>
    <div class="col">
       <%= render "clients/liste" %>
    </div>
  </div>
</div>



       