<%= bandeau_entete("Tailles", "rulers", @tailles.count, :nom_cont, tailles_path) %>

<%= bloc_nouveau(Taille) %>


<%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
    <div id="tailles"> </div> 

    <%= turbo_frame_tag :pagination, loading: :lazy, 
                        src: tailles_path(format: :turbo_stream,
                        q: params[:q]&.to_unsafe_h) %>
<% end %>