<div id="<%= dom_id(periode_non_disponible) %>" class="card m-2">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-md-9">
        <strong>Début:</strong> <%= periode_non_disponible.date_debut.strftime('%d/%m/%Y') if periode_non_disponible.date_debut %>
        <strong>Fin:</strong> <%= periode_non_disponible.date_fin.strftime('%d/%m/%Y') if periode_non_disponible.date_fin %>
        <% if periode_non_disponible.recurrence? %>
          <strong>Récurrent</strong> 
        <% end %>
      </div>
      <div class="col-md-3 text-end">
        <%= links_record(periode_non_disponible) %>
      </div>
    </div>
  </div>
</div>

