<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Afficher", post, class:"btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "Nouveau", new_post_path, class:"btn btn-warning" %>