<%# unless @messagemail.typedoc == "avoir" %> <%# cacher pour avoir%>

    <div class="section-solidaire">

        <table class="table table-doc">
        
            <tbody>
                <tr class="centered">
                    <td colspan="5" class="td-doc started">Solde</td>
                    <td class="td-doc-valeurs ended">
                         <%= colored_value_format(solde_prix(@doc_edition.commande)) %>
                     </td>
                    <td class="td-doc-valeurs ended">
                        <%= colored_value_format(solde_caution(@doc_edition.commande)) %>
                    </td>
                </tr>

            </tbody>
            
        </table>
    </div>

    <%= render  "admin/pdf_commande/mentions" %>

<%# end %>