
<div class="text-center fw-bold">catégories</div> <hr>

<div class="d-flex flex-wrap justify-content-center align-items-center mb-3">

  <%= button_to display_categorie_selected_admin_selection_produit_index_path(
      categorie_produit: "all"), 
      class: "btn btn-sm btn-outline-primary m-1 btn-topic",
      data: { controller: "button-color", action: "click->button-color#handleClick" },
      "data-original-color": "text-primary" do %>
      <span class="ms-1 fw-bold">Tout</span>
  <% end %>

  <% @categorie_produits.each do |categorie_produit| %>
    <%= button_to display_categorie_selected_admin_selection_produit_index_path(
        categorie_produit: categorie_produit), class: "btn btn-sm btn-outline-primary m-1 btn-topic",
        data: { controller: "button-color", action: "click->button-color#handleClick" },
        "data-original-color": "text-primary" do %>
      <span class="fw-bold"><%= categorie_produit.nom %></span>
    <% end %>
  <% end %>
</div>

<div id="partial-categorie-selected" class="">
  <%# recoit le turbo stream avec elements cliqués %>
</div>

