<div class="text-center fw-bold">couleurs</div> <hr>

<div class="d-flex flex-wrap justify-content-center align-items-center mb-3">
  <%= button_to display_couleur_selected_admin_selection_produit_index_path(
      categorie_produit: @categorie_produits, taille: @tailles, couleur: "all"), 
      class: "btn btn-outline-primary m-1 btn-topic",
      data: { controller: "button-color", action: "click->button-color#handleClick" },
      "data-original-color": "text-primary" do %>
      <span class="fw-bold">Tout</span>
  <% end %>

  <% @couleurs.each do |couleur| %>
    <%= button_to display_couleur_selected_admin_selection_produit_index_path(
        categorie_produit: @categorie_produits, taille: @tailles, couleur: couleur), 
        class: "btn btn-outline-primary m-1 btn-topic",
        data: { controller: "button-color", action: "click->button-color#handleClick" },
        "data-original-color": "text-primary" do %>
        <span class="fw-bold"><%= couleur.nom %></span>
    <% end %>
  <% end %>

</div>


<div id="partial-couleur-selected" class="">
  <%# recoit le turbo stream avec elements cliqués %>
</div>

