<p style="color: green"><%= notice %></p>

<h1>Ensembles</h1>

<div id="ensembles">
  <% @ensembles.each do |ensemble| %>
    <%= render ensemble %>
    <p>
      <%= link_to "Show this ensemble", ensemble %>
    </p>
  <% end %>
</div>

<%= link_to "New ensemble", new_ensemble_path %>
