
<%= bandeau_entete("Ensembles", "collection", @ensembles.count, 
    :produit_nom_cont, ensembles_path) %>

<%= bloc_nouveau(Ensemble) %>

<%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
    <div id="ensembles"> </div> 

    <%= turbo_frame_tag :pagination, loading: :lazy, 
                        src: ensembles_path(format: :turbo_stream,
                        q: params[:q]&.to_unsafe_h) %>
<% end %>

