
<%= bandeau_entete("Ensembles", "group", @ensembles.count, "your-search") %>

<%= bloc_nouveau(Ensemble) %>

<div id="ensembles">
  <% @ensembles.each do |ensemble| %>
        <%= render ensemble %>
  <% end %>
</div>




