  <div class="row justify-content-center">
      <div class="col-auto">
        <table class="table table-responsive">
        <td> 
            <%= link_to "contact", root_path, class:"btn btn-lg", style:"color: white; background-color: rgb(204, 46, 102)" %>
        </td>
        <td>  
            <%= link_to image_tag("logo1.png", border: 0, width: 300), root_path %>
        </td>
        <td>
          <%= link_to "Boutique en ligne", root_path%>
        </td>
        </table>
      </div>
    </div>