<div style="width:100%;text-align:center;font-size:12px;padding:0 20px 4px;line-height:1.5;">
  <strong>SARL AUTOUR D'UN SOIR</strong> - 27, 29 Boulevard Carnot 06400 CANNES<br>
  SIRET : 8805591414 – APE:4771Z – TVA: FR42880559414<br>
  04 93 45 17 17 | <a href="https://a1soir.com/" target="_blank" rel="noopener noreferrer" style="font-weight:bold;color:inherit;text-decoration:underline;"><strong>a1soir.com</strong></a> | contact@a1soir.com
</div>
