<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Document</title>
</head>

<div style="width: 900px; display: inline-block; text-align: center;">
    <%= wicked_pdf_image_tag asset_url('/images/logo_autourdunsoir_labels.png'), style: 'height: 120px; display: inline-block;' %>
</div>
