<!DOCTYPE html>
<html>
  <body>
    <%= simple_format(@doc_edition.message) %>

    <%# if @doc_edition.commande.meetings.where('datedebut > ?', DateTime.now).exists? %>
        <!--p>  Prochain RDV: <%= @doc_edition.commande.meetings.first.start_time.strftime('%d/%m/%y à %H:%M') %> </p-->
    <%# end %>
    
  </body>

</html>
