<h5> Adresse</h5>
<table>
    <tr>
      <td> 27, 29 Boulevard Carnot  </td>
    </tr> 
    <tr> 
      <td> 06400 CANNES    </td>
    </tr>
    <tr> 
      <td> Tél : 04 93 45 17 17 </td>
    </tr>
    <tr> 
      <td> Tél : 06 82 13 55 43  </td>
    </tr>
    <tr> 
      <td> Parking conseillé : Mozart - rue Mozart  </td>
    </tr>
    <tr> 
      <td> <%= link_to "Plan", "plan", class:"btn btn-sm btn-success"%>  </td>
    </tr>

</table>