 
<div class="container">
  <%= render partial: "accueil/reseaux" %>
</div>

<div class="row justify-content-center text-center">
  <ul>
    <li style="display:inline">
     <%= link_to "Boutique", "boutique", class:"btn btn-sm", style:"color: white; background-color: rgb(204, 46, 102);" %>  
     </li>
     <li style="display:inline">
        <small class="verysmall-text">Copyright Autour d’un soir - 2022 </small>
     </li>
     <li style="display:inline">
      <%= link_to "admin", "/accueil_admin", class:"btn btn-sm btn-outline-dark" %>
     </li>
  </ul>
</div>