 
 
  <div class="container">
      <%= render partial: "accueil/reseaux" %>
    </div>
    
<div class="text-center">
  <%= link_to "Boutique", "boutique", class:"btn btn-sm", style:"color: white; background-color: rgb(204, 46, 102); margin:4px;" %> <br> 
  
  <small class="verysmall-text">Copyright Autour d’un soir - 2022 - Tous droits réservés  </small>
   <%= link_to "admin", "/accueil_admin", class:"btn btn-sm btn-outline-dark" %> 
</div>

