
<div class="fs-6">
<p>
  Notre entreprise est née en 1980 à Paris et existe depuis 2004 sur la Côte d'Azur.
</p>
<p>
  <strong style="color: rgb(204, 46, 102)"> Autour d'un soir</strong>, c'est une équipe dynamique composée, entre autres, de Sophie, Charlotte (mère et fille) et Sandra.
</p>
<p>
  <strong style="color: rgb(204, 46, 102)"> Sophie</strong> : costumière passionnée depuis plus de 30 ans – Créative dans l’âme !
</p>
<p>
   <strong style="color: rgb(204, 46, 102)"> Charlotte</strong> : qui rejoint sa mère en 2016 après 7 ans d'expérience dans le marketing et la mode à Paris – Passionnée de robes de mariées ! 
</p>
<p>
  <strong style="color: rgb(204, 46, 102)"> Sandra</strong> : qui rejoint l’équipe en 2018, elle sublime toutes les tenues grâce à ses talents de couture et retouches – Experte Couture !
</p>
<p>
  Notre devise: " tout est possible ! "
</p>
<p>
  Vous trouverez donc chez nous tout ce dont vous avez besoin pour toutes les occasions. 
</p>
<p>
  Nous réalisons également des opérations de location de costumes en grand nombre pour des événements prestigieux et pouvons nous déplacer pour les essayages.
</p>
<p>
  De Cannes à Paris en passant par Monaco, depuis plus de 30 ans de très nombreuses entreprises nous ont fait confiance.
</p>
<p>
  Parmi celles-ci: 
</p>

<p>
  Le Moulin Rouge à Paris, le Trianon Palace à Paris, Le Procope à Paris, Le Baoli à Cannes, le Château de Vaux Le Vicomte, le Casino La Siesta à Antibes, Le Café de Paris à Monaco, l'Hôtel Belles Rives à Juan les Pins, l'Hôtel Radisson à Cannes, L'Hôtel Fairmont à Monaco, le Cirque Alexis Gruss, France 2, France 3, M6, Canal +, Lenôtre, ... et bien d’autres encore.
</p>

</div>

