
<div class="row justify-content-center">
  <div>
    <table class="table table-responsive">
      <td class="text-center align-middle"> 
        <%= image_tag("icons/pinterest_icon.png", border: 0, width: 30) %> 
      </td>
      <td class="text-center align-middle">  
        <%= image_tag("icons/fb_icon.png", border: 0, width: 30) %> 
      </td>
      <td class="text-center align-middle">
        <%= image_tag("icons/insta_icon.png", border: 0, width: 30) %> 
      </td>
    </table>
  </div>
</div>