<table class="table table-responsive">
   <td class="text-left", style="width: 40%;"><%= render "accueil/adresse" %></td>
   <td> <%= image_tag("equipe.jpg", border: 0, width: 150) %> </td>
   <td class="text-center", style="width: 40%;"> <%= render "accueil/horaires" %></td>
</table>


<div>
  <%= render "accueil/presentation" %>
</div>

