<br>

<h4> AUTOUR D’UN SOIR </h4>

<table>
    <td style="width:30%"> <%= render "accueil/adresse" %>  </td>
    <td style="width:70%">  <%= render "accueil/map" %>  </td>
</table>


<br>

<strong> Message </strong> <br>

<%= link_to "contact@a1soir.com" %>