<br>

<h4> AUTOUR D’UN SOIR </h4>

<table>
    <tr>
      <td> 27, 29 Boulevard Carnot  </td>
    </tr> 
    <tr> 
      <td> 06400 CANNES    </td>
    </tr>
    <tr> 
      <td> Tél : 04 93 45 17 17 - 06 82 13 55 43  </td>
    </tr>
    <tr> 
      <td> Parking conseillé : Mozart - rue Mozart  </td>
    </tr>
</table>

<strong> Message </strong>

<%= link_to "contact@a1soir.com" %>