
<h5> AUTOUR D’UN SOIR </h5>

<%# renvoi valeur depuis Model Texte edité par admin %>
<%= Texte.last.content %>

<div> 
    <%= render "accueil/adresse" %> 
</div>
<br>
<strong> Message </strong> <br>
<%= link_to "contact@a1soir.com" %>
<br> <br>

<div  class="text-center">  
    <%= render "accueil/map" %> 
 </div>
<br>


