<div class="container">
  <%= render partial: "shared/navbarPublic" %>
</div>
<%= image_tag("logo.jpg", border: 0, width: 80) %> <br>

<div class="text-center">
  <%= render "accueil/slideshow" %>
</div>


