<div class="container">
  <%= render partial: "shared/navbarPublic" %>
</div>


<div class="table-responsive">
  <table class="table">
    <th> <%= image_tag("logo.jpg", border: 0, width: 80) %> </th>
    <th>  <%= @label %></th> <%# message label paramétré par user %>
  </table>
</div>








<div class="text-center">
  <%= render "accueil/slideshow" %>
</div>


