<h1>Editing categorie produit</h1>

<%= render "form", categorie_produit: @categorie_produit %>

<br>

<div>
  <%= link_to "Show this categorie produit", @categorie_produit %> |
  <%= link_to "Back to categorie produits", categorie_produits_path %>
</div>
