<%= bandeau_entete("Catégories produits", "layers", @count_categorie_produits, 
:nom_cont, categorie_produits_path) %>

<%= bloc_nouveau(CategorieProduit) %>

<%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
    <div id="categorie_produits"> </div> 

    <%= turbo_frame_tag :pagination, loading: :lazy, 
                        src: categorie_produits_path(format: :turbo_stream,
                        q: params[:q]&.to_unsafe_h) %>
<% end %>