<%= card_main_model("Catégorie produit", "layers") %>

<div class="<%= admin_list_stack_classes %>">
  <%= render @categorie_produit %>
</div>

<hr>

<%= return_model_index_button("Retour vers Catégories produits", admin_categorie_produits_path) %>
