
<div class="card">
  <div class="card-header bg-dark text-light p-1 text-center">
    <strong>Demande de connexion</strong> 
  </div>
  <div class="card-body light-beige-colored text-center">
    <% unless current_user.present? %>

      <%= link_to new_user_session_path, class: "btn btn-warning m-1 p-3 rounded-pill" do %>
          <i class="fa fa-solid fa-xl fa-user-lock"></i>
          <span class="ms-1 fw-bold">Connexion</span>
      <% end %>


      <%= link_to new_user_registration_path, class: "btn btn-primary m-1 p-3 rounded-pill" do %>
        <i class="fa fa-solid fa-xl fa-user-plus"></i>
        <span class="ms-1 fw-bold">Nouveau</span>
      <% end %>

    <% end %>

    <% if user_signed_in? %>
      <% if current_user.user? %>
       <span class="text-dark fs-6"> Reconnectez-vous en tant qu'administrateur pour accéder aux informations</span> <br>
        <%= button_to "", destroy_user_session_path, method: :delete, 
                    class:"btn btn-sm btn-danger fa-solid fa-right-from-bracket" %>
      <% end %>
    <% end %>

  </div>
</div>
