<% wrap = local_assigns.fetch(:flash_wrap, false) %>
<% if wrap %>
<div id="flash" class="admin-flash-stack" aria-live="polite" aria-atomic="false">
<% end %>
<%= render partial: "layouts/admin_flash_alerts", locals: { flash: flash } %>
<% if wrap %>
</div>
<% end %>
