<%= yield %>

<div style="margin-top: 20px; border-top: 1px solid #ddd; padding-top: 10px; font-size: 12px; color: #888;">

  <p>Autour d'un soir - Cannes</p>

  <p>04 93 00 00 00</p>
  <p><a href="https://example.com">https://example.com</a></p>
</div>