<!DOCTYPE html>
<html>
  <head>
    <title>A1soir public</title>
   
    <%= stylesheet_link_tag "public", "data-turbo-track": "reload" %>
   
  </head>

  <body>
   
    <%#= render partial: "shared/navbar" %>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
